@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --text-color: black;
    --background-color: #eeeeee;
    --color-red: rgb(244, 67, 54);
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--background-color);
    line-height: 1.6;
    font-family: Roboto;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}
